<header class="header theme-transition">
    <div class="top-bar">
        <div class="countdown-mini" id="countdown-mini"></div>
        <div class="social-links">
            <a href="#" onclick="socialFeed.share('twitter')" class="hover-animate"><i class="fab fa-twitter"></i></a>
            <a href="#" onclick="socialFeed.share('facebook')" class="hover-animate"><i class="fab fa-facebook"></i></a>
            <a href="#" onclick="socialFeed.share('instagram')" class="hover-animate"><i class="fab fa-instagram"></i></a>
            <span class="hashtag time-ripple">#TimeFest2024</span>
        </div>
    </div>
    <nav class="navbar">
        <div class="logo">
            <h1 class="time-warp">TIME FEST 2024</h1>
            <div class="era-indicator">Current Era: <span id="current-era">Present</span></div>
        </div>
        <ul class="nav-links">
            <li><a href="/" class="hover-animate">Home</a></li>
            <li><a href="/events/schedule" class="hover-animate">Schedule</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-trigger hover-animate">
                    Interactive <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="dropdown-menu portal-effect">
                    <li><a href="/interactive/map">
                        <i class="fas fa-map-marked-alt"></i> Time Map
                    </a></li>
                    <li><a href="/interactive/gallery">
                        <i class="fas fa-images"></i> Photo Gallery
                    </a></li>
                    <li><a href="/interactive/vote">
                        <i class="fas fa-vote-yea"></i> Vote Events
                    </a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/shop" class="dropdown-trigger hover-animate">
                    Shop <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="dropdown-menu portal-effect">
                    <li><a href="/shop#tickets">
                        <i class="fas fa-ticket-alt"></i> Event Passes
                    </a></li>
                    <li><a href="/shop#merchandise">
                        <i class="fas fa-tshirt"></i> Merchandise
                    </a></li>
                    <li><a href="/shop/cart" class="cart-link">
                        <i class="fas fa-shopping-cart"></i> Cart 
                        <span class="cart-count time-ripple" id="navCartCount">0</span>
                    </a></li>
                </ul>
            </li>
            <li><a href="#contact" class="hover-animate">Contact</a></li>
            <li>
                <a href="/events/register" class="register-nav-btn hover-animate time-ripple">
                    Register Now
                </a>
            </li>
        </ul>
        <div class="mobile-icons">
            <div class="social-links-mobile">
                <a href="#" onclick="socialFeed.share('twitter')" class="hover-animate">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" onclick="socialFeed.share('facebook')" class="hover-animate">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
            <a href="/shop/cart" class="mobile-cart hover-animate">
                <i class="fas fa-shopping-cart"></i>
                <span class="cart-count time-ripple" id="mobileCartCount">0</span>
            </a>
            <div class="hamburger hover-animate">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
</header> 