<section class="cancel-page">
    <div class="cancel-container">
        <div class="cancel-icon">
            <i class="fas fa-times-circle"></i>
        </div>
        <h2>Order Cancelled</h2>
        <p>Your order has been cancelled. No charges have been made.</p>
        <div class="help-info">
            <h3>Need Help?</h3>
            <p>If you experienced any issues, please contact our support team:</p>
            <ul>
                <li>Email: support@timefest.com</li>
                <li>Phone: (123) 456-7890</li>
            </ul>
        </div>
        <div class="button-group">
            <a href="/shop/cart" class="button">Return to Cart</a>
            <a href="/shop" class="button">Continue Shopping</a>
        </div>
    </div>
</section> 